---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-row h-96 -slate-100 ">
		<div class="flex  items-center w-1/2 ">
			<div class="">
				<p>hello! I'm</p>
				<h1 class="text-5xl">Jhoan Jimenez</h1>
				<p class="text-2xl text-purple-700">Full Stack Developer</p>					
				<p>texto de ejemplo de todas las maravillas que voy a hacer</p>
				<div class="flex flex-row ">
				<a href="#" class="mr-4 my-4 px-14 py-3  bg-yellow-800 text-center rounded-lg ">CV</a>
				<a href="#" class="ml-4 my-4 px-14 py-3 bg-yellow-800 text-center rounded-lg">Email</a>
				</div>
				<div class="flex flex-row ">
				<a href="#" class="mr-4 my-4 "><img src="" alt=""><p>Linkedin</p></a>
				<a href="#" class="ml-4 my-4 "><img src="" alt=""><p>GitHub</p></a>
				</div>
			</div>

		</div>
		<div class="w-1/2 bg-purple-100 ">

		</div>

	</main>
</Layout>
