---
import Layout from "../layouts/Layout.astro";
import Icons from "../components/Icons.astro";
import Link from "../components/link.astro";
---

<Layout title="Welcome to Astro.">
  <!-- Navbar -->
  <nav class="flex justify-center h-14 items-center fixed">
    <Link name="home" link="#" />
    <Link name="about me" link="#" />
    <Link name="technologies" link="#" />
    <Link name="experiences" link="#" />
  </nav>

  <!-- Main -->
  <main class="flex min-h-screen flex-col-reverse sm:flex-row h-auto -slate-100">
    <div class="flex items-center justify-center text-center sm:justify-normal sm:text-start sm:w-3/5">
      <div>
        <p>hello! I'm</p>
        <h1 class="text-5xl">Jhoan Jimenez</h1>
        <p class="text-2xl text-yellow-500">Full Stack Developer</p>
        <p>texto de ejemplo</p>

        <!-- Buttons -->
        <div class="flex flex-row items-center justify-center sm:items-start sm:justify-normal">
          <a href="#" class="mr-4 my-4 px-12 py-2.5 bg-violet-800 hover:bg-violet-600 duration-150 transition text-center rounded-lg">
            CV
          </a>
          <a href="#" class="ml-4 my-4 px-12 py-2.5 bg-violet-800 hover:bg-violet-600 transition duration-150 text-center rounded-lg">
            CV
          </a>

          <!-- Email -->
         
        </div>

        <!-- Contact -->
        <ul class="flex flex-row items-center justify-center sm:items-start sm:justify-normal flex-wrap">
          <a href="#">
            <Icons name="Linkerdin" link="../../public/linkedin.svg" hover=""/>
          </a>
          <a href="#">
            <Icons name="GitHub" link="../../public/github.svg" hover="" />
          </a>
          <a href="#">
            <Icons name="geniuh7@gmail.com" link="../../public/email.svg" hover="Copiar"/>
          </a>
        </ul>
      </div>
    </div>

    <div class=" sm:w-2/5 w-full bg-slate-950 flex justify-center  aspect-square sm:aspect-auto ">
        <img src="" class="w-max sm:rounded-none rounded-full sm:lnone">

    </div>
  </main>




  <!-- About Me -->
   <section class="text-center my-20 min-h-screen flex flex-col justify-center">
    <h1 class="text-2xl text-yellow-500">Tecnologies</h1>
    <div class="flex flex-col mt-12">
       <div class="w-1/2">
        <p>Soy una persona carismatica que se toma las cosas enserio</p>
      </div>
      <div class="flex flex-row flex-wrap h-12 w-1/2 bg-white">
        <div class="flex flex-col w-2/12 bg-black m-3">
          <p></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Technologies -->
  <section class="text-center my-20 min-h-screen flex flex-col justify-center ">
    <h1 class="text-2xl text-yellow-500">Tecnologies</h1>
    <div class="flex flex-col mt-12">
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">FrontEnd</h2>
          <ul class="flex flex-row justify-center w-10/12 flex-wrap">
            <Icons hover="JavaScript" link="../public/Tecnologies/javascript.svg" name="" />
            <Icons hover="TypeScript" link="../public/Tecnologies/typescript.svg" name="" />
            <Icons hover="Astro" link="../public/Tecnologies/Astro.dark.svg" name="" />
            <Icons hover="React" link="../public/Tecnologies/react.svg" name="" />
            <Icons hover="Tailwind CSS" link="../public/Tecnologies/tailwindcss.svg" name="" />
          </ul>
      </div>
      <div class="flex flex-row items-center mt-10 ">
        <h2 class="w-3/12">BackEnd</h2>
          <ul class="flex flex-row justify-center w-10/12 flex-wrap">
            <Icons hover="" link="../public/Tecnologies/Express.js.dark.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/nodejs.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/java.svg" name="" />
          </ul>
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Databases</h2>
          <ul class="flex flex-row justify-center w-10/12 flex-wrap">
            <Icons hover="" link="../public/Tecnologies/mysql.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/mongodb.svg" name="" />
          </ul>
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">other Tecnologies</h2>
          <ul class="flex flex-row justify-center w-10/12 flex-wrap">
            <Icons hover="" link="../public/Tecnologies/docker.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/aws.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/git.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/github.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/postman.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/vitejs.svg" name="" />
            <Icons hover="" link="../public/Tecnologies/photoshop.svg" name="" />
          </ul>
      </div>
    </div>
  </section>

  <section class="text-center my-20 min-h-screen flex flex-col justify-center">
    <h1 class="text-2xl text-yellow-500">Tecnologies</h1>
    <div class="flex flex-col mt-12">

    </div>

  </section>
</Layout>
