---
import Layout from "../layouts/Layout.astro";
import Icons from "../components/Icons.astro";
import Link from "../components/link.astro";

import ListIcons from "../components/ListIcons.astro";
import Proyects from "../components/Proyects.astro";

---

<Layout title="Portafolio">
  <!-- Navbar -->
  <nav class="flex justify-center h-14 items-center fixed backdrop-filter backdrop-blur-md left-0 w-full">
    <Link name="home" link="#" />
    <Link name="About me" link="#" />
    <Link name="Technologies" link="#" />
    <Link name="Experiences" link="#" />
    <Link name="Es" link="/es" />
  </nav>

  <!-- Main -->
  <main class="flex justify-center items-center flex-col min-h-screen -slate-100 ">
    
  <!--imagen -->
    <div class="  w-full flex justify-center items-center spect-square ">
        <img src="../../media/img.png" class="w-1/4  rounded-full">


    </div>
    <div class="flex flex-col items-center justify-center text-center pt-10  w-full ">
        <p>hello! I'm</p>
        <h1 class="text-5xl">Jhoan Jimenez</h1>
        <p class="text-2xl text-yellow-500">Full Stack Developer</p>
        <p>How may I assist you?</p>

        <!-- Buttons -->
        <div class="flex flex-row items-center justify-center sm:items-start sm:justify-normal">
          <a href="#" class="mr-4 my-4 px-12 py-2.5 bg-violet-800 hover:bg-violet-600 duration-150 transition text-center rounded-lg">
            CV (Español)
          </a>
          <a href="#" class="ml-4 my-4 px-12 py-2.5 bg-violet-800 hover:bg-violet-600 transition duration-150 text-center rounded-lg">
            CV (English)
          </a>

          <!-- Email -->
         
        </div>

        <!-- Contact -->
        <ul class="flex flex-row items-center justify-center w-full flex-wrap ">
          <a href="https://www.linkedin.com/in/jhoanjimenez">
            <Icons name="Linkerdin" link="../../public/linkedin.svg" hover="" witdth={"30"}/>
          </a>
          <a href="https://github.com/GeniuX-arch">
            <Icons name="GitHub" link="../../public/github.svg" hover=""witdth={"30"} />
          </a>
          <a href="#">
            <Icons name="geniuh7@gmail.com" link="../../public/email.svg" hover="Copiar" witdth={"30"}/>
          </a>
        </ul>
    </div>

  
  </main>




  <!-- About Me -->
   <section class="text-center my-20 min-h-screen flex flex-col justify-center">
    <h1 class="text-2xl text-yellow-500">About me</h1>
    <div class="flex flex-row mt-12">
       <div class="w-1/2">
        <p>Since I was very young, I have loved programming, thanks to which I have learned many things that could be of great use to you.</p>
      </div>
      <div class="flex flex-row flex-wrap h-12 w-1/2 ">
        <div class="flex flex-col w-2/12  m-3">
          <ListIcons list={["linux"]} width={"30"}/>
        </div>
      </div>
    </div>
  </section>


    <!-- Tecnologías -->
  <section class="text-center my-20 min-h-screen flex flex-col justify-center ">
    <h1 class="text-4xl text-yellow-500">Tecnologías que conozco</h1>
    <div class="flex flex-col mt-12">
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Lenguajes de programacion</h2>
        <ListIcons list={["javascript","typescript","java","php"]} width={"30"}/>
      </div>
      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">FrontEnd</h2>
        <ListIcons list={["Astro.dark","react","tailwindcss"]} width={"30"}/>
      </div>


      <div class="flex flex-row items-center mt-10 ">
        <h2 class="w-3/12">BackEnd</h2>
            <ListIcons list={["Express.js.dark","nodejs","prisma.dark","laravel"]}width={"30"} />
      </div>


      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Bases de Datos</h2>
            <ListIcons list={["mysql","mongodb"]}width={"30"} />
      </div>


      <div class="flex flex-row items-center mt-10">
        <h2 class="w-3/12">Otras Tecnologías</h2>
            <ListIcons list={["docker","aws","git","github","postman","vitejs","photoshop","linux"]} width={"30"}/>
      </div>

    </div>
  </section>

  <!-- PROYECTOS -->
  <section class="text-center my-20 min-h-screen flex flex-col justify-center">
    <h1 class="text-2xl text-yellow-500">Proyectos</h1>
    <div class="grid-cols-2 grid gap-2 my-10">
      <Proyects titulo="Administración de horarios frontend", img="proyecto1.png", tecnologias={["git", "github", "react","vitejs", "tailwindcss", "typescript" ]}, des="Proyecto necesario para la administración de horarios, usuarios, etc. De las Unidades Tecnologicas de Santander" extra="https://github.com/GeniuX-arch/proyecto-grado-frontend" />
      <Proyects titulo="Administración de horarios backend", img="proyecto2.png", tecnologias={["git", "github","nodejs", "Express.js.dark", "postman", "mysql", "typescript"]}, des="Proyecto necesario para la administración de horarios, usuarios, etc. De las Unidades Tecnologicas de Santander" extra="https://github.com/GeniuX-arch/proyecto-grado-backend" />
      <Proyects titulo="Administración de Tareas frontend", img="proyecto3.png", tecnologias={["git", "github", "React", "vitejs","tailwindcss","javascript"]}, des="Pagania para Organizarse con las tareas del dia a dia" extra="https://github.com/GeniuX-arch/paginaweb-administrativa" />
      <Proyects titulo="Crud con PHP", img="proyecto4.png", tecnologias={["git", "github", "php", "tailwindcss", "mysql"]}, des="Crud: Crear, Leer, Actualizar y Eliminar de una base de datos, Tiene validación de campos y redirecciones" extra="https://github.com/GeniuX-arch/crud-php" />
    </div>
    <p>Te invito a mi repositorio de github para que puedas ver muchisimos mas:</p> 
          <a href="https://github.com/GeniuX-arch">
            <Icons name="Ver repositorio de GitHub" link="../../public/github.svg" hover=""witdth={"30"} />
          </a>
    
</Layout>