---
interface Props {
  hover: string;
  name: string;
  link: string;
}

const { name, link, hover } = Astro.props;
---

<li>
  <div class="mr-4 my-4 text-center flex flex-row items-center hover:text-yellow-400 justify-center " title={hover}>
    <img src={link} alt="" width="30px"  class="m-2 hover:rotate-6 transition duration-150"/>
    <p>{name}</p>
  </div>
</li>
