---
interface Props {
  name: string;
  link: string;
}

const { name, link } = Astro.props;
---


  <div class="h-20 text-center mx-10 hover:text-purple-500 transition duration-150">
      <a href={link} class="h-full  flex justify-center items-center w-full">{name}</a>
  </div>